@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FinTech_App.Model.Client


@if (Model != null)
{
    <p> Id = @Model.Id  </p>
    <p> Name = @Model.Name  </p>
    <p> DoB = @Model.DateOfBirth </p>
    <p> Identifier = @Model.Identidier </p>
 
 
}
