@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- CreateClient-->

<form asp-action="DoCreateClient" >
<table>
        <tr> <td>Name</td> <td><input type="text" id="Name" name="Name" /></td></tr>
        <tr> <td>Email</td> <td><input type="email" id="Email" name="Email" /></td></tr>
        <tr> <td>DateOfBirth</td> <td><input type="date" id="DateOfBirth" name="DateOfBirth" /></td></tr>
        <tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
    </table>
</form>
