@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Home" asp-action="DoUpload" enctype="multipart/form-data">
    <input type="file" id="myFile" name="files"  accept="image/*" required><br />
    <input type="text" name="description" placeholder="description" required="required" /><br />
    <input type="submit" value="file upload">
</form>

<hr />

<form asp-action="UploadFile" asp-controller="File" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>

<a asp-controller="Home"  asp-action="Index">Goto Index</a>




