@using FinTech_App.Dto
 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FileModelDto

    <div style="background-color:yellow; text-align:center; padding: 5px;">
  <img src="data:image/jpg;base64,@Model.Base64" width="100px" height="100px">
</div>

<div style="background-color:yellow; text-align:center; padding: 5px;">
    <img src="@Model.Name" width="100px" height="100px">
</div>